     body {
    font-family: Arial, sans-serif;
    background: url(image.jpg);
    background-size:cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color:aquamarine;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}
.container :hover{
    text-decoration: underline;
}

.login-form h2 {
    margin-bottom: 20px;
    text-align: center;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #5cb85c;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}

button:hover {
    background-color: #4cae4c;
}
button a{
    text-decoration: none;
    color: white;
    font-weight: 500px;
}

.message {
    text-align: center;
    margin-top: 15px;
}

.message a {
    color: #5cb85c;
    text-decoration: none;
}

.message a:hover {
    text-decoration: underline;
}